/** Tables **/

$table_header_font_color: #fff;
$table_border_color: $border_color;
$table_header_border_color: $border_color;
$table_header_background_color: $header_background_color;
$table_nth_row_background_color: $background_color_2;


table {
	border-right:0;
	color: #333;
	width: 100%;
	border: 1px solid $table_header_border_color;
	border-spacing: 0px;	/* aka "cellspacing" */
	border-collapse: collapse;	/* cellspacing for IE <= 7 */
	margin-bottom: 0;	// because h-scrollbars will be pushed down
	
	th {
		border:0;
		text-align: left;
		vertical-align: middle;
		padding:4px 11px;
		color: $table_header_font_color;
		background-color: $table_header_background_color;
		
		a {
			color: $table_header_font_color;
			text-decoration: none;
			display: inline-block;
			padding: 2px 4px;
			&:hover {
				color: $link_hover_color;
			}
		}
		
		a.asc:after, a.desc:after {
			content: ' ascending';
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 9px dashed $link_hover_color;
			display: inline-block;
			height: 3px;
			margin-left: 8px;
			vertical-align: middle;
			width: 0;
			float: right;
			overflow: hidden;
		}
		a.asc:hover:after {
			border-bottom: 9px dashed $table_header_font_color;
		}
		
		a.desc:after {
			border-bottom: none;
			border-top: 9px dashed $link_hover_color;
			content: ' descending';
			height: 0;
			margin-top: 3px;
		}
		a.desc:hover:after {
			border-top: 9px dashed $table_header_font_color;
		}
	}
	
	&.expandable {
		tr {
			&.even {	/* because two rows (one of them initially hidden) are a pair that shall appear in the same colours, both get the same classname "even"/"odd", :nth-child does not work here */
				background: $table_nth_row_background_color;
			}
			&:nth-child(even) {
				border-top: 1px solid #ccc;
			}
			&.mouseover {	/* dynamically hover the paired siblings using js, because CSS cannot select a previous sibling*/
				background-color: #ddd;
				cursor: pointer;
			}
		}
	}
	tr {
		&:nth-child(even) {
			background: $table_nth_row_background_color;
		}
		border-bottom: 1px solid #ccc;
		td {
			padding: 10px;
			text-align: left;
			vertical-align: middle;
			min-width: 100px;
		}
		
		// the traffic-light system - build a ribbon
		td.state {
			padding: 0;
			vertical-align: top;
			color: #fff;
			font-size: 9px;
			cursor: pointer;
			text-decoration: underline;
			.ribbon {
				width: 70px;
				height: 50px;
				margin: -1px 0 0;
				position: relative;
				overflow: hidden;
				// top shadow
				.inset {
					width: 70px;
					height: 8px;
					position: absolute;
					top: -5px;
					left: 0;
					z-index: 5;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					border-radius: 50%;
					background: rgba(0,0,0,0.3);
					box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
					-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
					-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
				}
				.container {
					position: relative;
					width: 50px;
					height: 45px;
					overflow: hidden;
					margin: 0 auto;
					border-left: 1px solid #376315;
					border-right: 1px solid #376315;
					text-align: center;
					vertical-align: middle;
					.base {
						height: 15px;
						width: 50px;
						padding-top: 5px;
						background: #6AB81F;
						position: relative;
						z-index: 2;
						&:after {content: 'active';}
					}
					.left_corner, .right_corner {
						width: 50px;
						height: 50px;
						background: #6AB81F;
						position: absolute;
						bottom: 4px;
						left: -25px;
						z-index: 1;
						-webkit-transform: rotate(60deg);
						-moz-transform: rotate(60deg);
						-ms-transform: rotate(60deg);
						-o-transform: rotate(60deg);
						transform: rotate(60deg);
					}
					.right_corner {
						left: initial;
						right: -25px;
						-webkit-transform: rotate(30deg);
						-moz-transform: rotate(30deg);
						-ms-transform: rotate(30deg);
						-o-transform: rotate(30deg);
						transform: rotate(30deg);
					}
				}
			}
			&.yellow {
				.container {
					border-left: 1px solid #D6BD2D;
					border-right: 1px solid #D6BD2D;
					.base {
						color: #666;
						&:after{content: 'aged';}
						background: #FFDF2B;
					}
					.left_corner, .right_corner {
						background: #FFDF2B;
					}
				}
			}
			&.red {
				.container {
					border-left: 1px solid #631a15;
					border-right: 1px solid #631a15;
					.base {
						&:after{content: 'outdated';}
						background: #b8201f;
					}
					.left_corner, .right_corner {
						background: #b8201f;
					}
				}
			}
		}
	}
	
	td.actions,
	td.children {
		text-align: left;
		white-space: nowrap;
		
		a {
			margin: 6px 6px;
			padding: 0;
			display: inline;
		}
	}
	td.actions a {
		color: $actions_link_color;
		&:hover {
			color: $actions_link_hover_color;
		}
	}
}