form, a {
	margin-left: 15px;
}
a {
	font-size: 11px;
	text-decoration: underline;
}
form {
	div.input {
		padding-bottom: 0.5em;
		label {
			display: block;
			width: 70px;
			margin-right: 10px;
			float: left;
			font-size: 12px;
		}
		input {
			display: block;
			float: left;
			width: 139px;
		}
		select {
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			border: 1px solid #999;
			color: $font_color;
			padding: 1px;
			width: 141px;
			margin-top: -2px;
			display: block;
			float: left;
		}
		
		@include clearfix;
	}
	input[type=submit] { 
		font: bold 11px Arial, Sans-serif; 
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #999;
		background: $header_background_color; 
		padding: 2px 3px; 
		margin: 5px 50px 5px -1px;
		color: #fff;
		width: auto;
		&:hover {
			border: 1px solid #999;
			background: #ccc; 
			color: #666;
			outline: none;
			cursor:pointer;
		}
	}
	p {
		font-size: 12px;
	}
	
	
	@include taxonomySelector;
	// override the styles
	.input.taxonomy.select.dropdown_checklist {
		@include clearfix;
		> label {width: 70px;}
		.wrapper {	// keep the checklist from tilting under the label if the display section is growing
			float: none;
			.checklist_toggle {
				margin-top: -3px;
				padding: 0 4px 1px;
				float: left;
				.display {
					display: inline-block;
					width: 130px;
					font-size: 10px;
					font-weight: normal;
				}
			}
			.checklist{
				div.checkbox {
					margin-bottom: 0.5em;
					label {
						width: 198px;
						margin: 0;
						margin-top: 4px;
						float: left;
						font-weight: normal;
					}
					input[type=checkbox] {
						clear: none;
						width: 20px;
						float: left;
					}
					&.primary, &.secondary, &.tertiary {
						width: 200px;
						background-color: transparent;
						label {
							width: 170px;
						}
					}
				}
			}
		}
	}
	
}