@mixin resetter {
	margin: 0;
	padding: 0;
}


@mixin clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}



@mixin round-corners($color: $border_color, $width: 1px, $radius: 4px) {
	border: $width solid $color;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}



@mixin inline-form {
	display: inline-block;
	min-width: 71px;	// this value can be decreased by js that remove submit buttons from auto-submit forms
	margin: 0;
	padding: 0;
	font-size: 12px;
	
	div.input.select {
		width: auto;
		min-width: 0px;
		margin: 0;
		float: left;
		label {
			width: auto;
			margin-right: 7px;
			font-weight: normal;
			display: block;
			float: left;
		}
		select {
			margin: 0;
			height: 20px;
			padding: 0;
			display: inline;	// or inline-block
		}
	}
	div.submit, div.input.button {
		margin: 0;
		float: left;
		min-width: initial;
		input[type=submit], button {
			margin: -1px 0 0 5px;
			padding: 1px 2px 2px;
		}
	}
}


@mixin taxonomySelector {
	.input.taxonomy.select.dropdown_checklist {
		@include clearfix;
		> label {width: 208px;}
		.wrapper {	// keep the checklist from tilting under the label if the display section is growing
			float: left;
			.checklist_toggle {
				cursor: pointer;
				position: relative;
				margin-bottom: 1px;
				padding: 2px 4px 1px;
				&:hover {
					background-color: #eee;
				}
				.display {
					display: inline-block;
					width: 258px;
					overflow: hidden;
				}
				// borrowed from getbootstrap.com for dropdown checklists
				.caret {
					border-left: 4px solid transparent;
					border-right: 4px solid transparent;
					border-top: 4px dashed;
					display: inline-block;
					height: 0;
					margin-left: 2px;
					vertical-align: middle;
					width: 0;
					position: absolute;
					right: 4px;
					top: 46%;
				}
			}
			.checklist{
				float: none;
				div.checkbox {
					margin-left: 0;
					padding: 0 5px 0 5px;
					width: 276px;
					@include clearfix;
					
					label {
						margin-top: 5px;
						margin-bottom: 5px;
						width: auto;
						float: none;
					}
					input[type=checkbox] {
						width: 10px;
						margin-right: 10px;
						margin-top: 5px;
						margin-bottom: 5px;
						float: none;
						clear: none;
					}
					&.primary {
						background-color: #fff;
						padding: 0 25px 0 5px;
						width: 256px;
					}
					&.secondary {
						background-color: #ddd;
						padding-left: 15px;
						padding-right: 15px;
						width: 256px;
					}
					&.tertiary {
						background-color: #bbb;
						padding-left: 25px;
						padding-right: 5px;
						width: 256px;
					}
				}
			}
		}
	}
}